@model Paciente




<table class="table table-hover">



    <div style="text-align:center">

        <h3>Paciente não pode ser encontrado!</h3>
    </div>


    <div style="text-align:center">

        


        <a class="btn btn-primary " href="/home/pesquisa">Voltar</a>
        
    </div>


</table>

