




<table class="table table-hover">

    <div style="text-align:center">

        <h3>Valor informado incorreto!</h3>
    </div>


    <div style="text-align:center">

        <p>Por favor, volte a tela inicial.</p>


       
        <a class="btn btn-outline-dark" href="/home/editar">Voltar</a>
    </div>

</table>

