@model Consulta


<table class="table table-hover">
    <tr>
        <th>Consulta finalizada</th>


    </tr>






</table>


<a class="btn btn-primary" href="/consulta/atender/">Voltar Para Lista de Consultas</a>

