@model Consulta


<table class="table table-hover">
    
    <center>
        <h4>
            A consulta será criada
        </h4>
    </center>
</table>
<div>
    
        
        <p> Paciente: @Model.NomePaciente </p>
        <p> Médico: @Model.NomeMedico</p>

    
</div>


<div>

    <a class="btn btn-primary btn-sm" href="/medico/consulta/">Voltar</a>
    <a class="btn btn-info btn-sm" href="/consulta/create/">Criar Consulta</a>


</div>


