@model ItensUtilizados



<table class="table table-hover">
    <tr>
        <th>Procedimentos Enviados</th>


    </tr>






</table>


<a class="btn btn btn-primary" href="/consulta/update/@Model.IdConsulta">Finalizar Consulta</a>


