

@if (ViewBag.Message != null)
{
<div class="alert alert-danger">@ViewBag.Message</div>}


<table class="table table-hover">

    <div style="text-align:center">

        <h3>Conta Inválida</h3>
    </div>


    <div style="text-align:center">





        <a class="btn btn-outline-dark" href="/home/editar">Voltar</a>
    </div>

</table>

