




<table class="table table-hover">

    <div style="text-align:center">

        <h3>Atendente não pode ser deletado!</h3>
    </div>


    <div style="text-align:center">

        <p>Deseja Atualizar Cadastro?</p>


        <a class="btn btn-primary" href="/atendente/update2">Sim</a>
        <a class="btn btn-outline-dark" href="/home/editar">Não,voltar</a>
    </div>

</table>

