




<table class="table table-hover">

    <div style="text-align:center">

        <h3>Erro na criação</h3>
    </div>


    <div style="text-align:center">

        <div class="alert alert-danger">@ViewBag.Message</div>


        
        <a class="btn btn-outline-dark" href="/home/editar">Voltar</a>
    </div>

</table>

