

    <a class="btn btn-primary" href="paciente/index">Cadastrar Paciente</a>
    <a class="btn btn-primary" href="atendente/index">Cadastrar Atendente</a>
    <a class="btn btn-primary" href="medico/index">Cadastrar Médico</a>
