<form asp-controller="Home" asp-action="FaleConosco">
    
        <h5>Contato</h5>
        <p></p>
    
        <div class="form-group">

            <p>  </p>
            <p>Clinica Fulano de Tal</p>
            <p>  </p>
            <p>  </p>
            <p></p>
            <p>Endereço: Rua 10, 1000</p>
            <p></p>
            <p>Telefone: (17) 3333-2222</p>
            <p></p>
            <p>Email: clinicafulanodetal@email.com</p>
            <p></p>
            <p>Horário de Atendimento: 08h às 18h</p>












</form> 

<a class="btn btn-light btn-primary " href="/home">Voltar</a>