@model Home

<form asp-controller="Home" asp-action="Editar" method="POST">





    <div class="form-group">
        <label>Selecione uma ação</label>
        <select asp-for="opcao2" class="form-control">
            <option value=1>Medico</option>
            <option value=2>Atendente</option>
            <option value=3>Paciente</option>
            <option value=4>Procedimento</option>
            <option value=5>Consulta</option>
        </select>
    </div>




    <button class="btn btn-primary">Confirmar</button>
    <a class="btn btn-info" href="/home/inicial">Voltar</a>

</form>



