@model Home


<form asp-controller="Home" asp-action="EscolherConsulta" method="POST">
    <div class="form-group">
        <label>Iniciar uma Consulta: </label>
        <select asp-for="opcao3" class="form-control">
            <option value=1>Medico</option>
            <option value=2>Paciente</option>

        </select>
    </div>


    <button class="btn btn-primary">Iniciar</button>
    <a class="btn btn-info" href="/home/inicial">Voltar</a>
</form>



