@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Pronto Atendimento</h1>



    <h3>Você é : </h3>

    <a class="btn btn-primary" href="atendente/login">Atendente</a>
    <a class="btn btn-primary" href="medico/login">Medico</a>
</div>
