@model Home

<form asp-controller="Home" asp-action="Inicial" method="POST">





    <div class="form-group">
        <label>Selecione uma ação</label>
        <select asp-for="opcao" class="form-control">
            <option value=1>Editar </option>
            <option value=2>Iniciar Consulta</option>

        </select>
    </div>






    <button class="btn btn-primary">Confirmar</button>
    <a class="btn btn-primary" href="/consulta/relatoriopaciente">Relatorios</a>

    
</form>
<div>
<a class="btn btn-danger" href="/home">Sair</a>
</div>











